/* red-hat-display-regular - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  src: local("Red Hat Display"), local("RedHatDisplay-Regular"),
    url("../fonts/red-hat-display-v3-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/red-hat-display-v3-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-700 - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  src: local("Red Hat Display Bold"), local("RedHatDisplay-Bold"),
    url("../fonts/red-hat-display-v3-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/red-hat-display-v3-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-regular - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url("../fonts/ubuntu-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ubuntu-v14-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-500 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"),
    url("../fonts/ubuntu-v14-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ubuntu-v14-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-700 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"),
    url("../fonts/ubuntu-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ubuntu-v14-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Ubuntu";
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #4b4f51;
  text-transform: capitalize;
}

.content__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  font-size: 45px;
  line-height: 139%;
  color: #035755;
}

/* header styles start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 60px;
  background: linear-gradient(360deg, #ffffff -4.58%, #ffffff 102.22%);
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__item {
  margin-right: 60px;
}

.header__item:last-child {
  margin-right: 0;
  color: #ff383d;
  padding: 16px 45px;
  border: 2px solid #ff383d;
  border-radius: 30px;
}

.header__link {
  font-size: 18px;
  line-height: 22px;
  color: #035755;
  text-decoration: none;
}

.highlighter {
  color: #fb4c47;
}

.header__link:hover,
.header__link:focus,
.header__link:active,
.header__link_last:hover,
.header__link_last:active,
.header__link_last:focus {
  opacity: 0.7;
}

.header__link_last {
  text-decoration: none;
}

/* header styles end */

/* intro styles start */

.intro {
  height: 100vh;
  /* height: 50vh; */
  background: url(../img/header_bg.png) no-repeat right center;
  padding-top: 315px;
}

.intro__title {
  max-width: 630px;
  margin-bottom: 30px;
}

.subtitle {
  font-weight: bold;
  font-size: 32px;
  line-height: 122%;
  color: #fa5652;
}

.intro__text {
  max-width: 620px;
  margin-bottom: 54px;
}

.intro__help {
  padding: 25px 60px;
  background: #fb4c47;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  border-radius: 50px;
}

.intro__help:hover,
.intro__help:focus,
.intro__help:active {
  color: #fa5652;
  background: rgba(250, 86, 82, 0.15);
}
/* intro styles end */

/* description styles start */

.description {
  height: 100vh;
  background: url(../img/desc_bg.png), url(../img/desc_bg-2.png),
    url(../img/desc_bg-3.png);
  background-repeat: no-repeat;
  background-position: left center, right bottom 35%, right bottom;
  padding-top: 220px;
  margin-bottom: 188px;
}
.desc__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  float: right;
}

.desc__text {
  display: inline-block;
  margin-bottom: 53px;
}

.desc__more {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fa5652;
  text-decoration: none;
  padding: 22px 50px;
  background: rgba(250, 86, 82, 0.15);
  border-radius: 65px;
}

.desc__more:hover,
.desc__more:focus,
.desc__more:active {
  background: #fb4c47;
  color: #ffffff;
}

/* description styles end */

/* contagion styles start */

/* contagion styles end */
