/* red-hat-display-regular - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  src: local("Red Hat Display"), local("RedHatDisplay-Regular"),
    url("../fonts/red-hat-display-v3-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/red-hat-display-v3-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-700 - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  src: local("Red Hat Display Bold"), local("RedHatDisplay-Bold"),
    url("../fonts/red-hat-display-v3-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/red-hat-display-v3-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-regular - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url("../fonts/ubuntu-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ubuntu-v14-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-500 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"),
    url("../fonts/ubuntu-v14-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ubuntu-v14-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-700 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"),
    url("../fonts/ubuntu-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ubuntu-v14-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Ubuntu";
  font-style: normal;
  font-size: 18px;
  line-height: 215%;
  font-weight: normal;
  color: #4b4f51;
  text-transform: capitalize;
  background: linear-gradient(
    360deg,
    rgba(255, 241, 241, 0.5) 0%,
    rgba(255, 241, 241, 0) 108.69%
  );
}

.content__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  font-size: 45px;
  line-height: 139%;
  color: #035755;
}

/* header styles start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 60px;
  background: linear-gradient(360deg, #ffffff -4.58%, #ffffff 102.22%);
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__item {
  margin-right: 60px;
}

.header__item:last-child {
  margin-right: 0;
  color: #ff383d;
  padding: 16px 45px;
  border: 2px solid #ff383d;
  border-radius: 50px;
}

.header__link {
  font-size: 18px;
  line-height: 22px;
  color: #035755;
  text-decoration: none;
}

.highlighter {
  color: #fb4c47;
}

.header__link:hover,
.header__link:focus,
.header__link:active,
.header__link_last:hover,
.header__link_last:active,
.header__link_last:focus {
  opacity: 0.7;
}

.header__link_last {
  text-decoration: none;
}

/* header styles end */

/* intro styles start */

.intro {
  height: 100vh;
  /* height: 50vh; */
  background: url(../img/header_bg.png) no-repeat right center;
  padding-top: 315px;
}

.intro__title {
  max-width: 630px;
  margin-bottom: 30px;
}

.subtitle {
  font-weight: bold;
  font-size: 32px;
  line-height: 122%;
  color: #fa5652;
}

.intro__text {
  max-width: 620px;
  margin-bottom: 54px;
}

.intro__help {
  padding: 25px 60px;
  background: #fb4c47;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  border-radius: 50px;
}

.intro__help:hover,
.intro__help:focus,
.intro__help:active {
  color: #fa5652;
  background: rgba(250, 86, 82, 0.15);
}
/* intro styles end */

/* description styles start */

.description {
  height: 100vh;
  background: url(../img/desc_bg.png), url(../img/desc_bg-2.png),
    url(../img/desc_bg-3.png);
  background-repeat: no-repeat;
  background-position: left center, right bottom 35%, right bottom;
  padding-top: 220px;
}
.desc__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  float: right;
}

.desc__text {
  display: inline-block;
  margin-bottom: 53px;
}

.desc__more {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fa5652;
  text-decoration: none;
  padding: 22px 50px;
  background: rgba(250, 86, 82, 0.15);
  border-radius: 65px;
}

.desc__more:hover,
.desc__more:focus,
.desc__more:active {
  background: #fb4c47;
  color: #ffffff;
}

/* description styles end */

/* contagion styles start */
.contagion {
  margin-bottom: 150px;
}
.contagion__title {
  text-align: center;
  margin-bottom: 30px;
}

.contagion__text {
  max-width: 570px;
  margin: 0 auto;
}

.contag__text-content {
  margin-bottom: 100px;
}

.contagion__cards {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.contagion__card {
  max-width: 350px;
  background: #ffffff;
  box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  padding: 50px;
  margin: 20px;
}

.contagion__card-pic {
  margin: 0 auto;
  height: 230px;
  overflow: hidden;
}

.contagion__card-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.contagion__card-text {
  max-width: 355px;
}
.contagion__card-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 147%;
  color: #035755;
}

/* contagion styles end */
/* symptomps styles start */
.symptomps {
  margin-bottom: 120px;
  text-align: center;
  background: url(../img/sympt_left_bg.png), url(../img/sympt_right_bg.png);
  background-repeat: no-repeat;
  background-position: left bottom, right top;
}

.symptomps__title {
  margin-bottom: 30px;
}

.symptomps__text {
  max-width: 716px;
  margin: 0 auto;
}

/* symptomps styles end */
/* actions styles start */
.actions {
  margin-bottom: 30px;
  text-align: center;
  background: url(../img/actions_bg-left-top.png),
    url(../img/actions_bg-right-top.png), url(../img/actions_bg-right.png);
  background-repeat: no-repeat;
  background-position: left top 25%, right bottom 20%, right bottom 5%;
}
.actions__text {
  max-width: 650px;
  margin: 0 auto;
}

.actions__title-content {
  margin-bottom: 70px;
}
.actions__card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.actions__card-title {
  font-weight: 500;
  font-size: 47px;
  line-height: 147%;
  color: #035755;
  height: 75px;
  margin-bottom: 20px;
}

.one {
  background: url(../img/actions__card-one-bg.png) no-repeat left center;
}
.two {
  background: url(../img/actions__card-two-bg.png) no-repeat left center;
}
.three {
  background: url(../img/actions__card-three-bg.png) no-repeat left center;
}
.four {
  background: url(../img/actions__card-four-bg.png),
    url(../img/actions__card-four-ellip.png);
  background-repeat: no-repeat;
  background-position: left 2% center, left center;
}
.actions__card-decr-text {
  max-width: 530px;
}
/* actions styles end  */

/* map styles start */
.map {
  margin-bottom: 150px;
}
.map__images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.map__countries {
  background: url(../img/map_bg.png) no-repeat left center;
}
.usa {
  background: url(../img/map_country_usa.png) no-repeat left center;
}

.italy {
  background: url(../img/map_country_italy.png) no-repeat left center;
}

.china {
  background: url(../img/map_country_china.png) no-repeat left center;
}

.spain {
  background: url(../img/map_country_spain.png) no-repeat left center;
}

.germany {
  background: url(../img/map_country_germany.png) no-repeat left center;
}

.iran {
  background: url(../img/map_country_iran.png) no-repeat left center;
}

.map__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}
.map__live_reports {
  background: #fff;
  box-shadow: 1px 2px 18px -14px rgba(0, 0, 0, 0.64);
  padding: 10px;
}

.map__live_reports-title {
  background: url(../img/map_main_arrows.png) no-repeat right center;
  margin-bottom: 55px;
  padding-right: 160px;
}

.map__title {
  font-weight: 500;
  font-size: 46px;
  line-height: 58px;
}
.map__live_reports-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.map__country_name {
  padding-left: 80px;
  font-weight: 500;
  font-size: 31px;
  line-height: 37px;
}

.map_number {
  padding-right: 50px;
  font-weight: 500;
  font-weight: 500;
  font-size: 31px;
  line-height: 37px;
}

.map__live_reports-counter {
  background: url(../img/map_top_arrow.png) no-repeat right center;
}
.down {
  background: url(../img/map_down_arrow.png) no-repeat right center;
}
/* map styles end */

/* feedback styles start */

/* feedback styles end */
.feedback {
  margin-bottom: 100px;
}
.feedback__content {
  width: 700px;
  margin: 0 auto;
}

.feedback__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #0c6c44;
  margin-bottom: 60px;
}
.feedback__form-info {
  position: relative;
}

.feedback__form-field {
  width: 790px;
  height: 114px;
  border: 0;
  background: white;
  border-radius: 60px;
  padding: 40px;
  font-size: 22px;
  line-height: 26px;
  color: #758681;
}

.feedback__form-field::placeholder {
  font-size: 22px;
  line-height: 26px;
  color: #758681;
}

.feedback__form_submit {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 200px;
  height: 80px;
  background: #f44a45;
  border: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  border-radius: 60px;
  color: #ffffff;
}
